@import 'tailwindcss';
@plugin 'daisyui';

////
// Jeopardy-specific styles
////
@font-face {
  font-family: 'ITC Korinna Normal';
  src: url('/fonts/ITC_Korinna_Normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Swiss 911';
  src: url('/fonts/Swiss_911_Ultra_Compressed_BT.ttf') format('truetype');
}

@theme {
  --color-jeopardy-blue: oklch(0.3 0.18 267.41);
  --color-jeopardy-gold: oklch(0.74 0.12 76.76);

  --font-jeopardy-board: 'Swiss 911', 'Impact', 'Inter', ui-sans-serif,
    system-ui, sans-serif;
  --font-jeopardy-card: 'ITC Korinna Normal', serif;

  --text-shadow-jeopardy-board: 5px 5px 0px #000000;
}

.jeopardy-board-tile {
  @apply bg-jeopardy-blue font-jeopardy-board uppercase tracking-widest leading-none text-shadow-jeopardy-board p-4 justify-center text-center;
  align-items: center !important;
}

.jeopardy-card > p > img {
  @apply mx-auto my-8 max-h-[50vh];
}
////

// @todo: remove this or set site-wide font?
@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

// @todo: modify or remove this (may or may not support dark/light modes, just do dark?)
html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
