@import 'tailwindcss';
@plugin 'daisyui';

/* @todo: remove this or set site-wide font? */
@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* @todo: modify or remove this (may or may not support dark/light modes, just do dark?) */
html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Jeopardy-specific fonts and styles */
@font-face {
  font-family: 'ITC Korinna Normal';
  src: url('/fonts/ITC_Korinna_Normal.ttf') format('truetype');
}

@font-face {
  font-family: 'Swiss 911';
  src: url('/fonts/Swiss_911_Ultra_Compressed_BT.ttf') format('truetype');
}

@font-face {
  font-family: 'Shadows Intro Light';
  src: url('/fonts/ShadowsIntoLight-Regular.ttf') format('truetype');
}

@theme {
  --color-jeopardy-blue: oklch(0.3 0.18 267.41);
  --color-jeopardy-gold: oklch(0.74 0.12 76.76);

  --font-jeopardy-board: 'Swiss 911', 'Impact', 'Inter', ui-sans-serif,
    system-ui, sans-serif;
  --font-jeopardy-card: 'ITC Korinna Normal', serif;
  --font-jeopardy-handwriting: 'Shadows Intro Light', script;

  --text-shadow-jeopardy-board: 5px 5px 0px #000000;
}

.jeopardy-board-tile {
  @apply bg-jeopardy-blue justify-center p-6 text-center;
  @apply font-jeopardy-board leading-none text-shadow-jeopardy-board tracking-widest uppercase;
  align-items: center !important;
}

.jeopardy-card {
  @apply bg-jeopardy-blue cursor-pointer grid h-screen overflow-x-scroll place-items-center px-48 py-16 w-screen;
  @apply font-jeopardy-card text-shadow-jeopardy-board justify-center leading-none text-balance text-center;
  align-items: center !important;
}

.jeopardy-card > p > img {
  @apply mx-auto my-4 max-h-[50vh];
}

/* Jeopardy Animations */
.animate-in-from-top {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -200%) scale(0.5);
  animation: flyAtYouFromTop 1.2s ease-in-out forwards;
}

.animate-in-from-top-first {
  animation-delay: 1.5s;
  --scale-to: 4;
}

.animate-in-from-top-second {
  animation-delay: 2.5s;
  --scale-to: 4;
}

.animate-in-from-top-third {
  animation-delay: 3s;
  animation-duration: 4s;
  --scale-to: 0.8;
}

@keyframes flyAtYouFromTop {
  0% {
    transform: translate(-50%, -200%) scale(0.5);
    opacity: 0;
  }
  35% {
    transform: translate(-50%, -50%) scale(var(--scale-to));
    opacity: 1;
  }
  65% {
    transform: translate(-50%, -50%) scale(var(--scale-to));
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 0%) scale(6);
    opacity: 0;
    display: none;
  }
}

.animate-background-fade-in-blue-fade-out {
  animation: backgroundFadeToBlueFadeOut 7s ease-in-out 0s forwards;
  background-color: var(--color-black);
}

@keyframes backgroundFadeToBlueFadeOut {
  0% {
    background-color: var(--color-black);
  }
  7.69% {
    background-color: var(--color-jeopardy-blue);
  }
  84.61% {
    background-color: var(--color-jeopardy-blue);
  }
  100% {
    background-color: transparent;
  }
}

.animate-zoom-in {
  animation: zoomIn 2s ease-out forwards;
  opacity: 0;
  transform: scale(0);
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
